:root {
  --deep-purple-color: #331b3b;
  --orange-color: #fec82833;
  --light-blue: #ecf7ff;
  --light-pink: #ffded44d;
  --black: #000000;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}

body {
  margin: 0;
  font-family: "Hind Vadodara", sans-serif;
  width: auto;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.btn {
  padding: 16px 32px;
  background-color: var(--deep-purple-color);
  color: #ecf7ff;
  font-size: 17px;
  font-weight: 700;
  line-height: 23.34px;
  letter-spacing: 2%;
  border-radius: 10px;
}

nav {
  display: flex;
  justify-content: space-between;
  color: var(--deep-purple-color);
  align-items: center;
}

.logo {
  font-family: "Playfair Display";
  font-size: 20px;
  line-height: 28.13px;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 40px;
  list-style: none;
  margin: 0;
}

nav ul li a {
  font-family: "Hind Vadodara", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 23.97px;
  letter-spacing: 0.01em;
  position: relative;
}

nav ul li a.active {
  font-weight: 600;
}

nav ul li a.active::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 50%;
  height: 3px;
  background-color: #fdc221;
}

.social-links {
  gap: 0px;
  font-size: 24px;
}

.hero-section .left {
  margin-left: 40px;
}

.primary-background-img {
  position: absolute;
  top: 0;
  right: 0;
  height: 700px;
}

.hero-section-img {
  position: absolute;
  top: 100px;
  left: 100vb;
  gap: 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  padding-right: 100px;
}

.hero-section h1 {
  font-family: "Hind Vadodara";
  font-size: 87px;
  font-weight: 10;
  line-height: 86.83px;
  letter-spacing: -0.01em;
  color: var(--deep-purple-color);
}

.hero-section h1 b {
  font-weight: 700;
}

.yellow-underline {
  box-shadow: inset 0 -25px 0 #fdc221;
}

.left p {
  position: absolute;
  top: 430px;
}

.left p a {
  position: relative;
  top: 100px;
}
/* second section */
.second-section-elements {
  position: absolute;
  width: 90%;
  height: 578px;
  top: 900px;
  gap: 0px;
  border-radius: 0px 450px 0px 0px;
  background-color: var(--light-blue);
}
.second-section .vector {
  position: absolute;
  top: 1100px;
  left: 1425px;
}

.second-section-elements h2 {
  margin-top: 100px;
  font-family: "Hind Vadodara";
  font-size: 48px;
  font-weight: 300;
  line-height: 51.02px;
  letter-spacing: -0.01em;
  text-align: center;
  color: var(--deep-purple-color);
}

.button-group button {
  position: relative;
  background-color: var(--light-blue);
  border: 2px solid black;
  width: 35px;
  height: 34px;
  top: 230px;
  left: 225px;
  text-align: center;
  display: inline-block;
  border-radius: 70%;
  margin-left: 10px;
}

.button-group button:disabled {
  border: 2px solid grey;
}

.slides .slide-1 {
  position: absolute;
  background-color: #ffffff;
  width: 308px;
  height: 192px;
  top: 315px;
  left: 360px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.slides .slide-icon-1 {
  position: relative;
  background-color: #ffded4;
  width: 52px;
  height: 48px;
  top: 15px;
  left: 15px;
  border-radius: 10px;
}

.slides .slide-icon-1 img {
  position: relative;
  background-color: #ffded4;
  top: 10px;
  left: 10px;
  border-radius: 10px;
  padding: 0.23px;
}

.slides h4 {
  position: absolute;
  top: 50px;
  left: 15px;
  font-family: "Hind Vadodara";
  font-size: 16px;
  font-weight: 700;
  line-height: 21.97px;
  letter-spacing: 0.055em;
}

.slides p {
  position: absolute;
  top: 90px;
  left: 15px;
  font-family: "Hind Vadodara";
  width: 280px;
  font-size: 15px;
  font-weight: 300;
  line-height: 21.79px;
  letter-spacing: 0.02em;
  text-align: left;
}

.slides .slide-2 {
  position: absolute;
  background-color: #ffffff;
  width: 308px;
  height: 192px;
  top: 315px;
  left: 710px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.slides .slide-icon-2 {
  position: relative;
  background-color: #ffeed4;
  width: 52px;
  height: 48px;
  top: 15px;
  left: 15px;
  border-radius: 10px;
}

.slides .slide-icon-2 img {
  position: relative;
  background-color: #ffeed4;
  top: 10px;
  left: 10px;
  border-radius: 10px;
  padding: 0.23px;
}

.slides .slide-3 {
  position: absolute;
  background-color: #ffffff;
  width: 308px;
  height: 192px;
  top: 315px;
  left: 1060px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.slides .slide-icon-3 {
  position: relative;
  background-color: #d4f0ff;
  width: 52px;
  height: 48px;
  top: 15px;
  left: 15px;
  border-radius: 10px;
}

.slides .slide-icon-3 img {
  position: relative;
  background-color: #d4f0ff;
  top: 10px;
  left: 10px;
  border-radius: 10px;
  padding: 0.23px;
}

.slides .slide-4 {
  position: absolute;
  background-color: #ffffff;
  width: 308px;
  height: 192px;
  top: 315px;
  left: 1410px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.slides .slide-icon-4 {
  position: relative;
  background-color: #ffd4d4;
  width: 52px;
  height: 48px;
  top: 15px;
  left: 15px;
  border-radius: 10px;
}

.slides .slide-icon-4 img {
  position: relative;
  background-color: #ffd4d4;
  top: 10px;
  left: 10px;
  border-radius: 10px;
  padding: 0.23px;
}

.third-section {
  position: absolute;
  top: 750px;
}

.third_section_image {
  position: absolute;
  top: 850px;
  margin-left: 40px;
  width: 659.95px;
  height: 605.92px;
}

.third-section-elements h2 {
  position: absolute;
  top: 1000px;
  left: 800px;
  width: 338px;
  height: 102px;
  font-family: "Hind Vadodara";
  font-size: 48px;
  font-weight: 300;
  line-height: 51.02px;
  letter-spacing: -0.01em;
  text-align: left;
  color: var(--deep-purple-color);
}

.third-section-elements p {
  position: absolute;
  top: 1150px;
  left: 800px;
  width: 500px;
  font-family: "Hind Vadodara";
  font-size: 17px;
  font-weight: 400;
  line-height: 24.87px;
  letter-spacing: 0.02em;
}

.third-section-elements a {
  position: absolute;
  top: 200px;
}

.fourth-section {
  position: absolute;
  top: 2500px;
  right: 0;
  width: 90%;
  height: 673px;
  background-color: var(--light-pink);
  border-radius: 450px 0px 0px 0px;
}

.fourth-section h2 {
  font-family: Hind Vadodara;
  font-size: 48px;
  line-height: 51.02px;
  letter-spacing: -0.01em;
}

.slide1 {
  position: absolute;
  width: 419px;
  height: 365px;
  top: 200px;
  left: 150px;
  border-radius: 10px;
  opacity: 0px;
  background-color: #ffffff;
}

.web-screen1 {
  position: absolute;
  top: 30px;
  left: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 286px;
  height: 238px;
  background-image: url("images/fourth_section_slide_1.png");
  background-size: contain;
  background-position: center;
  border-radius: 10px;
}

.mobile-screen1 {
  position: absolute;
  top: 30px;
  left: 315px;
  width: 89px;
  height: 238px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-image: url("images/fourth_section_slide_1_2.png");
  background-size: 100%;
  background-position: center;
  border-radius: 10px;
}

.link-rectangle {
  border: 1px solid black;
  border-radius: 100px;
  padding: 0px 10px 0px 10px;
}

.slide1 p {
  position: absolute;
  top: 280px;
  left: 20px;
  font-family: Hind Vadodara;
  font-size: 24px;
  font-weight: 700;
  line-height: 35.11px;
  text-align: left;
}

.slide1 .link-rectangle {
  position: absolute;
  top: 310px;
  left: 300px;
}

.slide2 {
  position: absolute;
  width: 419px;
  height: 365px;
  top: 200px;
  left: 650px;
  border-radius: 10px;
  opacity: 0px;
  background-color: #ffffff;
}

.web-screen2 {
  position: absolute;
  top: 30px;
  left: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 286px;
  height: 238px;
  background-image: url("images/fourth_section_slide_2_1.png");
  background-size: contain;
  background-position: center;
  border-radius: 10px;
}

.mobile-screen2 {
  position: absolute;
  top: 30px;
  left: 315px;
  width: 89px;
  height: 238px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-image: url("images/fourth_section_slide_2_2.png");
  background-size: 100%;
  background-position: center;
  border-radius: 10px;
}

.slide2 p {
  position: absolute;
  top: 280px;
  left: 20px;
  font-family: Hind Vadodara;
  font-size: 24px;
  font-weight: 700;
  line-height: 35.11px;
  text-align: left;
}

.slide2 .link-rectangle {
  position: absolute;
  top: 310px;
  left: 300px;
}

.slide3 {
  position: absolute;
  width: 419px;
  height: 365px;
  top: 200px;
  left: 1150px;
  border-radius: 10px;
  opacity: 0px;
  background-color: #ffffff;
}

.web-screen3 {
  position: absolute;
  top: 30px;
  left: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 286px;
  height: 238px;
  background-image: url("images/fourth_section_slide_3_1.png");
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}

.mobile-screen3 {
  position: absolute;
  top: 30px;
  left: 315px;
  width: 89px;
  height: 238px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-image: url("images/fourth_section_slide_2_2.png");
  background-size: 100%;
  background-position: center;
  border-radius: 10px;
}

.slide3 p {
  position: absolute;
  top: 280px;
  left: 20px;
  font-family: Hind Vadodara;
  font-size: 24px;
  font-weight: 700;
  line-height: 35.11px;
  text-align: left;
}

.slide3 .link-rectangle {
  position: absolute;
  top: 310px;
  left: 300px;
}

.fourth-section .button-group {
  position: absolute;
  top: 370px;
  left: -180px;
}

.fifth-section h2 {
  position: absolute;
  top: 3300px;
  left: 60vb;
  font-family: "Hind Vadodara";
  font-size: 48px;
  font-weight: 300;
  line-height: 51.02px;
  letter-spacing: -0.01em;
  text-align: center;
  color: var(--deep-purple-color);
}

.fifth-section .review-1 {
  position: absolute;
  width: 448px;
  height: 310px;
  top: 3500px;
  left: 30vb;
  margin-bottom: 30px;
  box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.08);
  padding: 30px;
}

.fifth-section .review-2 {
  position: absolute;
  width: 448px;
  height: 310px;
  top: 3500px;
  left: 110vb;
  margin-bottom: 30px;
  box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.08);
  padding: 30px;
}

footer {
  position: absolute;
  background-color: var(--black);
  height: 453px;
  top: 4000px;
  border-radius: 0px 158px 0px 0px;
  text-align: left;
  color: #ffffff;
  width: 100%;
}

::placeholder {
  padding-left: 10px;
  color: #ffffff;
}

footer h2 {
  position: absolute;
  left: 60px;
  margin-top: 60px;
  font-family: "Playfair Display";
  font-size: 36px;
  line-height: 42.19px;
  letter-spacing: 0.01em;
}

.content {
  width: 25%;
}

footer h4 {
  position: absolute;
  top: 200px;
  left: 60px;
  font-family: "Hind Vadodara";
  font-size: 16px;
  font-weight: 400;
  line-height: 25.49px;
  letter-spacing: 0.02em;
}

footer p {
  position: absolute;
  top: 110px;
  left: 60px;
  font-family: "Hind Vadodara";
  font-size: 16px;
  font-weight: 400;
  line-height: 25.49px;
  letter-spacing: 0.02em;
}

input[type="email"] {
  position: absolute;
  top: 260px;
  left: 60px;
  width: 263px;
  height: 52px;
  background-color: black;
  border: 1px solid #ffffff;
  color: #ffffff;
}

footer button {
  position: absolute;
  top: 260px;
  left: 300px;
  width: 143px;
  height: 52px;
  border: none;
  font-family: "Hind Vadodara";
  font-size: 16px;
  font-weight: 600;
  line-height: 25.49px;
  letter-spacing: 0.02em;
  text-align: center;
}

.map {
  position: absolute;
  right: 80px;
  margin-top: 80px;
  margin-right: 120px;
}

.ellipse {
  border: 2px solid black;
  border-radius: 50%;
  width: 43.61px;
  height: 49.61px;
  transform: rotate(30.5deg);
  margin-left: 20px;
}

.fa {
  transform: rotate(-30.5deg);
}

.fa-facebook {
  padding-top: 15px;
  padding-left: 10px;
}

.fa-linkedin,
.fa-instagram {
  padding-top: 12px;
  padding-left: 6px;
}
